/* Color palette */

:root {
  --black: #000000;
  --warm-grey: #979797;
  --white-three: #ffffff;
  --greyish: #a8a8a8;
  --white: #f2f1f1;
  --white-two: #f8f8f8;
  --beige: #f8f7e8;
  --black-two: #3b3b3b;
}

/* Sample text styles */

header {
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

nav.xdiv-navbar {
  /*width: 1280px;*/
  /*height: 52px;*/
  /*background-color: #ffffff!important;*/
  background-color: var(--white-three);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid black;
}

a.xdiv-navbar-brand {
  text-decoration: none;
  color: var(--black);
}

a.nav-link {
  text-decoration: none;
  color: var(--black);
}

nav {
  margin-bottom: 40px;
}

/*To space cards intro panel when in mobile view*/
.card {
  margin-bottom: 40px;
}

body {
  background-color: var(--white-three);
}

@media screen and (min-width: 767px) {
  /*constrain the characters image thumnail size in proportion to the screen size*/
  img.characterThumbnail {
    max-width: 40%;
  }
}

@media screen and (max-width: 768px) {
  img.characterThumbnail {
    max-width: 70%;
  }
}

img.relatedArcitlesThumbnail {
  max-width: 20%;
}

.playerBtn {
  border-radius: 18px;
  background-color: black;
  color: white;
  text-align: center;
  width: 153px;
  display: block;
  padding: 6px;
}

.responseOption {
  border-radius: 18px;
  background-color: black;
  color: white;
  text-align: center;
  /*width: 153px;*/
  display: block;
  padding: 6px;
  /* https://www.w3schools.com/css/css3_borders.asp */
  border-radius: 30px 30px 1px;
  padding: 18px;
}

/*CSS crop image for story start to reove safe text area and show centered part*/
.imageContainerStoryStart {
  max-height: 56vh;
  overflow: hidden;
}

.leftBorder {
  border-left-style: solid;
  border-width: 0.5px;
}

.playerThumbnail {
  height: 5vh;
  border-style: solid;
  border-width: 2px;
}

.relatedArticles {
  background-color: #cccccc;
}

/*@media (min-width: 600px) {

	body {
		background-image: url("footer-bg.png");
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
	}

}*/
